@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.swiper-pagination {
  bottom: 50px !important;
}

.swiper-button-next, .swiper-button-prev {
  color: rgba(255, 255, 255, 0.5);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

/* Modern CSS Reset */

/* Box sizing border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul,
ol,
figure,
blockquote {
  margin: 0;
  padding: 0;
}

/* Remove list styles (bullet points and numbers) */

/* Remove default styles for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Set root font size to 16px (adjust as needed) */
html {
  font-size: 16px;
}

/* Remove text decoration for links */
a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent element */
  background: none; /* Remove background */
}

/* Remove outline on focus */
:focus {
  outline: none;
}

.custom-prev,
.custom-next {
  border: 2px solid #6a0dad;
  color: #6a0dad;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.3s ease;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: rgba(255, 255, 255, 1);
}

.custom-prev svg,
.custom-next svg {
  stroke: #6a0dad;
}

body {
  font-family: 'Patrick Hand', cursive;
}