{
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "printWidth": 120,
  "importOrder": ["^react$", "^next", "<THIRD_PARTY_MODULES>", "^@quests", "^[./]", "scss$"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}